.app {
  font-family: Helvetica, "Segoe UI", "PingFang SC", "Helvetica Neue", "Source Han Sans", "思源黑体", "Noto Sans", "Microsoft Yahei", "微软雅黑", Arial, sans-serif;
  font-size: 14px;
  color: white;
  text-shadow: .5px .5px 2px #aa8422, -.5px .5px 2px #aa8422, .5px -.5px 2px #aa8422, -.5px -.5px 2px #aa8422;
  user-select: none;
}

a {
  text-decoration: none;
  color: white;
}

.hide {
  display: none !important;
}

.value {
  cursor: pointer;
}